.pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: var(--nav-height);
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 0.4s ease;
    will-change: transform;
    background-color: var(--bg-dark);
    scrollbar-width: none;
}

.secondaryPage {
    padding-bottom: 0;
    z-index: 20;
}
